.App {
  text-align: center;
  padding: 2em;
  max-width: 1320px;
  margin: 0 auto;
}
a.add-button {
  background-color: #f9aa33;
  position: absolute;
  bottom: 3em;
  right: 3em;
}
.book-card-list {
  background-color: #eee;
  padding: 1em;
}
.book-card {
  font-size: 1.6em;
  margin: 1em;
  padding: 1em;
  text-align: left;
  text-decoration: none;
}
.grid-list {
  background-color: #eee;
  padding: 1em;
}
